h1 {
    background-color: lightblue;
    padding: 5px;
    margin: 2px;
    margin-top: 20px;
    margin-right: 65%;
}

p {
    background-color: maroon;
    border: 3px solid black;
    padding: 10px;
}